<div *ngIf="editable; then thenBlock else elseBlock"> </div>
  <ng-template #thenBlock>
    <ngui-map zoom="2"  minZoom="2" center="0,0" (click)="onClick($event)" draggable="true">
      <marker (click)="showInfoWindow($event)" [position]="position"></marker>
      <circle *ngIf="position" [(ngModel)]="radius" ngDefaultControl
          center="{{position.lat()}},{{position.lng()}}"
          [strokeColor]="'#FF0000'"
          [strokeOpacity]="0.8"
          [strokeWeight]="2"
          radius={{radius}}
          ></circle>
    </ngui-map>
  </ng-template> 

  <ng-template #elseBlock>
    <ngui-map zoom="9" minZoom="2" center="{{event.latitude}},{{event.longitude}}">
      <marker (click)="showInfoWindow($event)" [position]=[event.latitude,event.longitude]></marker>
      <circle center="{{event.latitude}},{{event.longitude}}"
          [strokeColor]="'#FF0000'"
          [strokeOpacity]="0.8"
          [strokeWeight]="2"
          [editable]="false"
          radius={{event.radius}}
          draggable="false"></circle>
    </ngui-map>
  </ng-template> 



 

