

<div class="container">
  <app-event-form> 
  </app-event-form>
  <div class="col-lg-6 offset-lg-3 mb-3" *ngFor="let event of events" (click)="onSelect(event)">
    <div class="card card-default">
      <div class="col-12">
        <div class="card-block">
          <h4 class="card-title">{{event.name}}</h4>
          <p class="card-text">{{event.hints}}</p>
          <p class="card-text">{{event.description}}</p>
          <a class="mb-2 mx-2 btn btn-danger pull-right" *ngIf="event.userId==userId" (click)="delete(event); $event.stopPropagation()">Delete</a>
          <a class="mb-2 mx-2 btn btn-success pull-right" *ngIf="event.userId==userId" (click)="redirect(event);"> Edit </a> 
        </div>
      </div>
    </div>
  </div>

</div>



