<br>

<div class="card" *ngIf="event">

    <ul class="list-group list-group-flush">
    <li class="list-group-item mx-auto"><h2>{{event.name}} details</h2></li>
    <li class="list-group-item" ><label>Id: </label>{{event.id}}</li>
    <li class="list-group-item" ><label>Date: </label>{{event.startingTime}}</li>
    <li class="list-group-item" ><label>Name: </label>{{event.name}}
    <input [(ngModel)]="event.name" class="form-control" placeholder="name" ></li>
  </ul>

   <app-map [event]="event"></app-map>

  <a (click)="goBack()" class="btn btn-outline-danger btn-md btn-block " >Back</a>
  <a (click)="save()" class="btn btn-outline-success  btn-md btn-block " >Save</a>
  
</div>
