label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: black;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
.btn{
  border: 2px solid #00fbff !important;
  display: inline-block !important;
  position: relative;
  left:25%;
  width:50%;
  height:10%;
  
}
