<br>

<div class="card" *ngIf="event">

    <ul class="list-group list-group-flush">
    <li class="list-group-item mx-auto"><h2>{{type}} details</h2></li>
    <li class="list-group-item" ><label>Starts: </label>{{event.startingDate | date:'fullDate'}}</li>
    <li class="list-group-item" ><label>Ends: </label>{{event.endingDate | date:'fullDate'}}</li>
    <li class="list-group-item" ><label>Description: </label>{{event.description}}
    <li class="list-group-item" ><label>Hints: </label>{{event.hints}}

    <li *ngIf="type=='Fire'" class="list-group-item" ><label>Speed:</label>{{event.speed}}
  </ul>

   <app-map [event]="event"></app-map>

  <a (click)="goBack()" class="btn btn-outline-danger btn-md btn-block " >Back</a>
  <a (click)="save()" class="btn btn-outline-success  btn-md btn-block " >Save</a>
  
</div>
