
<br>
<ngui-map zoom="2" minZoom="2" class="harta">
  <custom-marker (click)="details($event,event)" *ngFor="let event of events" [position]=[event.latitude,event.longitude]>
    <div>
      <b>{{event.name}}</b>
      <img *ngIf="event.type=='Rain'" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-12/32/cloud-icon.png" />
      <img *ngIf="event.type=='Fog'" src="http://icons.iconarchive.com/icons/icons-land/weather/32/Fog-icon.png" />
      <img *ngIf="event.type=='Fire'" src="http://icons.iconarchive.com/icons/iconka/pioneer-camp/32/fire-icon.png" />
      <img *ngIf="event.type=='Flood'" src="https://www.iconfinder.com/data/icons/property-insurance/256/Flood_Insurance-32.png" />
      <img *ngIf="event.type=='TerroristAttack'" src="http://icons.iconarchive.com/icons/icons8/windows-8/32/Military-Rifle-icon.png" />
      <img *ngIf="event.type=='Tornado'" src="http://icons.iconarchive.com/icons/large-icons/large-weather/32/tornado-icon.png" />
      <img *ngIf="event.type=='Tsunami'" src="https://www.iconfinder.com/data/icons/disasters/91/tsunami_water_wave_element-32.png" />
      <img *ngIf="event.type=='MeteoEvent'" src="http://icons.iconarchive.com/icons/aha-soft/free-3d-glossy/32/Thermometer-icon.png" />
      <img *ngIf="event.type=='Earthquake'" src="http://icons.iconarchive.com/icons/icons8/windows-8/32/Weather-Earthquakes-icon.png" />
    </div>
  </custom-marker>
  <marker (click)="details($event,event)" *ngFor="let event of events" [position]=[event.latitude,event.longitude]>
  </marker>
  <circle *ngFor="let event of events"
          center="{{event.latitude}},{{event.longitude}}"
          [strokeColor]="'#FF0000'"
          [strokeOpacity]="0.8"
          [strokeWeight]="1"
          radius="{{event.radius}}"
          ></circle>
</ngui-map>


<!--<div *ngFor="let icon of icons" >
  <img src="{{icon.icon}}"/> <p> - {{icon.name}} </p>
</div>-->

<div class="container">
  <button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#myModal">Legend</button>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">Events</h6>
        </div>
        <div class="modal-body">
          <p> <img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-12/32/cloud-icon.png" /> - Rain
              <img src="http://icons.iconarchive.com/icons/icons-land/weather/32/Fog-icon.png" /> - Fog
              <img src="http://icons.iconarchive.com/icons/iconka/pioneer-camp/32/fire-icon.png" /> - Fire
              <img src="https://www.iconfinder.com/data/icons/property-insurance/256/Flood_Insurance-32.png" /> - Flood &nbsp;&nbsp;
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/32/Military-Rifle-icon.png" /> - Terrorist Attack
              <img src="http://icons.iconarchive.com/icons/large-icons/large-weather/32/tornado-icon.png" /> - Tornado &nbsp;&nbsp;&nbsp;
              <img src="https://www.iconfinder.com/data/icons/disasters/91/tsunami_water_wave_element-32.png" /> - Tsunami &nbsp;&nbsp;
              <img src="http://icons.iconarchive.com/icons/aha-soft/free-3d-glossy/32/Thermometer-icon.png" /> - Meteo Event 
              <img src="http://icons.iconarchive.com/icons/icons8/windows-8/32/Weather-Earthquakes-icon.png" /> - Earthquake
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>



<!--<a href="#" id="legend" class="btn btn-primary" rel="popover"
   data-content="legend"
   data-original-title="Legend">Legend
</a>-->


  
  

