
a {
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}

h2{
    text-align: center; margin-bottom: 0;
  color: white;
}
h3 {
  text-align: center; margin-bottom: 0;
  color: white;
  
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}


.btn {
  width:29%;
  margin:1.5%;
  display:block;
  position: relative;
  border: 2px solid white;
  left:32%
  }

  .notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 15px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
    font-family: 'Titillium Web', sans-serif;
}
.notice-lg {
    padding: 35px;
    font-size: large;
    font-family: 'Titillium Web', sans-serif;
}
.notice-success {
    border-color: #5fc536
}
.notice-success>strong {
    color: #5fc536
}
.notice-info {
    border-color: #e6eb10
}
.notice-info>strong {
    color: #e6eb10
}
.notice-warning {
    border-color: #ff8a00
}
.notice-warning>strong {
    color: #ff8a00
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

.harta{
  height:86vh;
}

  #legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
  }