.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.events {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.events li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.events li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.events li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}

.events .text {
  position: relative;
  top: -3px;
}

.events .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 0em;
  position: relative;
  left: 3px;
  top: -1px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 4px;
}

button {
  font-family: Arial;
  background-color: #00e6e6;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin-top:20px;
}

button:hover {
  background-color: #00b8e6;
}

button.delete {
  float: right;
  margin-top: -4px;
  margin-right: .11em;
  background-color: gray !important;
  color: white;
}

h5{
  color:white;
}
h2{
  color:white;
}


.myFormular {
  width: 550px;
  padding: 4% 0 0 ;
 margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 550px;
  margin: -80px auto 50px;
  padding: 15px;
  float:left;
 /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}

.form input {
 
 outline : 0 ;
  background: #f2f2f2;
  width:100%;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 10px;
}


radioFIT {
 
 width:10% !important;
 }

.form button {
  font-family:black, sans-serif;
  
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  
  
 
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}

app-map {
 background-color: #ffffff; 
 padding-bottom: 5px ;  
 margin-bottom: 30px;
}

.lefty
{
  text-align: left;
}



