
<div class="myFormular">
    
         <div class="form">
           
         <input type="text" placeholder="Event Name"  />
         <input placeholder="Starting Time" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> 
         <input placeholder="Ending Time" class="textbox-n" type="text" onfocus="(this.type='date')"  id="date"> 
         <input type="text" placeholder="Description"/>
         <input type="text" placeholder="Severity"/>
         <app-map [event]="event" ></app-map> 
         <button> Add Event </button>
         
         </div>
 </div>