<div class="myFormular">

        <div class="form">

                <input [(ngModel)]="name" type="text" placeholder="Event Name">
                <input [(ngModel)]="startingDate" placeholder="Starting Time" class="textbox-n" type="datetime-local" value="2013-10-24T20:36:00" step="1" id="date1">
                <input [(ngModel)]="endingDate" placeholder="Ending Time" class="textbox-n" type="datetime-local" value="2013-10-24T20:36:00" step="1" id="date2">
                <input [(ngModel)]="description" type="text" placeholder="Description">
                <input [(ngModel)]="hints" type="text" placeholder="Hints">
                <input [(ngModel)]="radius" type="number" placeholder="Radius">
                <label><b>Choose event severity:</b></label>
                <select [(ngModel)]="severity" class="m-2 form-control-lg">
                        <option style="color:green; font-weight:bold">GREEN</option>
                        <option style="color:#dbce25; font-weight:bold">YELLOW</option>
                        <option style="color:orange; font-weight:bold">ORANGE</option>
                        <option style="color:red; font-weight:bold">RED</option>  
                </select>
           
                <p> <b>Choose event type:</b>
                <select [(ngModel)]="type" class="m-2 form-control-lg">
                        <option value="earthquake">Earthquake</option>
                        <option value="fire">Fire</option>
                        <option value="flood">Flood</option>
                        <option value="terroristAttack">Terrorist Attack</option>
                        <option value="tornado">Tornado</option>
                        <option value="meteoevent">Meteo Event</option>
                        <option value="tsunami">Tsunami</option>
                        <option value="meteoevent">Rain</option>
                        <option value="meteoevent">Snow</option>
                        <option value="meteoevent">Fog</option>
                        <option value="meteoevent">Cold Weather</option>
                        <option value="meteoevent">Canicular Weather</option>
                </select>
                </p>                  
                 <div *ngIf="type=='earthquake'">
                        <input [(ngModel)]="richterDegree" type="number" placeholder="Richter Degree" />
                        <input [(ngModel)]="mercaliDegree" type="number" placeholder="Mercalli Degree" />
                        <input [(ngModel)]="depth" type="number" placeholder="Depth" />
                 </div>
                 
                 <div *ngIf="type=='fire'"  >
                        <input [(ngModel)]="speed" type="number" placeholder="Speed" />
                 </div>
                 
                 <div *ngIf="type=='flood'"  >
                        <input [(ngModel)]="precipitationLevel" type="number" placeholder="Precipitation Level" />            
                 </div>

                 <div *ngIf="type=='terroristAttack'"  >
                        <input [(ngModel)]="numberOfTerrorists" type="number" placeholder="Number of terrorists" />
                 </div>

                 <div *ngIf="type=='tornado'"  >
                        <input [(ngModel)]="windspeed" type="number" placeholder="Windspeed" />
                 </div>

                 <div *ngIf="type=='meteoevent'"  >
                        <input [(ngModel)]="humidity" type="text" placeholder="Humidity" />
                        <input [(ngModel)]="precipitationLevel" type="text" placeholder="Precipitation Level" />
                        <input [(ngModel)]="temperature" type="text" placeholder="Temperature" />
                 </div>

                 <div *ngIf="type=='tsunami'"  >
                        <input [(ngModel)]="maxWaveHeight" type="number" placeholder="Max Wave Heigth" />
                 </div>

                <app-map [event]="event" [(ngModel)]="radius" [editable]="true" [radius]="radius" (positionChanged)="onPositionChanged($event)" ngDefaultControl></app-map>
                
                <button (click)="create()" class="btn btn-info"> Add Event </button>

        </div>
</div>

